.about-bg {
    padding-top: 60px;
    padding-bottom: 60px;


    @media screen and (min-width: 768px) and (max-width: 1279.5px) {
        padding-top: 20px;
        padding-bottom: 80px;
    }

    @media screen and (max-width: 767.5px) {
        padding-top: 40px;
        padding-bottom: 40px;

    }
}

.about__lable {

    margin-bottom: 15px;

    text-align: center;
    font-family: var(--secondary-fonts);

  
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-light-pink);

    @media screen and (min-width: 768px) and (max-width: 1279.5px) {
        font-size: 26px;
        line-height: 1.15;
    }

    @media screen and (max-width: 767.5px) {
        font-size: 18px;
        line-height: 1.16;
    }
}

.about__title {

    margin-bottom: 80px;

    text-align: center;
    font-family: var(--secondary-fonts);
 
    font-size: 58px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-color);

    @media screen and (min-width: 768px) and (max-width: 1279.5px) {

        margin-bottom: 40px;

        font-size: 48px;
        letter-spacing: 0.04em;
    }

    @media screen and (max-width: 767.5px) {
        margin-bottom: 32px;

        font-size: 34px;
        line-height: 1.14;
        letter-spacing: 0.04em;
    }
}

.about__box {
    display: flex;

    // position: relative;  
    @media screen and (max-width: 767.5px) {
        display: block;

    }
}


.about__content-box {
    max-width: 463px;
    margin-left: 140px;
    

    @media screen and (min-width: 768px) and (max-width: 1279.5px) {
        // width: 334px;
        margin-left: 32px;
        margin-right: 0;
    }

    @media screen and (min-width: 380px) and (max-width: 767.5px) {
       max-width: 334px;
        margin-left: 32px;
        margin-left: 0;
    }

    @media screen and (max-width: 767.5px) {
        padding-right: 60px;
        margin-left: 0;
        
    }
}

.about__content-title {
    margin-bottom: 32px;

    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    color: var(--editional-color);

    @media screen and (min-width: 768px) and (max-width: 1279.5px) {
        font-size: 14px;
        letter-spacing: inherit;
    }

    @media screen and (max-width: 767.5px) {
        font-size: 12px;
        line-height: 1.6;
        letter-spacing: inherit;
    }
}

.about__content-text {
    margin-bottom: 40px;


    font-weight: 500;
    font-size: 14px;
    line-height: 1.9;
    letter-spacing: 0.04em;
    color: var(--text-color-grey);

    @media screen and (max-width: 767.5px) {
        font-size: 12px;
        line-height: 1.6;
        letter-spacing: inherit;
    }
}

.about__button {

    border-radius: 22px;
    padding: 10px 37px;
    border: 0;


    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: var(--akcent-color);
    background-color: var(--text-color-light);

    transition: background-color var(--kubik);

    &:hover,
    &:focus {
        background-color: var(--text-color-light-grey);
    }
}

.about__vector {
    margin-left: 13px;
}

.about-bg {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 200px;
    // max-width: 1280px;
    background-color: var(--bg-color-light-pink);
    background-image: url(../img/about/sectionbg-lg.png);
    background-image: -webkit-image-set(url(../img/about/sectionbg-lg.webp) 1x);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-moz-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../img/about/sectionbg-lg@2x.png);
        background-image: -webkit-image-set(url(../img/about/sectionbg-lg@2x.webp) 2x);;
        }
    

    @media screen and (min-width: 768px) and (max-width: 1279.5px) {
        background-image: none;
    }

    @media screen and (max-width: 767.5px) {

        background-position: right 0 bottom 215px;

        background-image: url(../img/about/sectionbg-sm.png);
            background-image: -webkit-image-set(url(../img/about/sectionbg-sm.webp) 1x);
        
            @media screen and (min-device-pixel-ratio: 2),
            screen and (-moz-min-device-pixel-ratio: 2),
            screen and (-o-min-device-pixel-ratio: 2/1),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url(../img/about/sectionbg-sm@2x.png);
                background-image: -webkit-image-set(url(../img/about/sectionbg-sm@2x.webp) 2x);
                ;
            }

    }
}