.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.advantages{
    background-color: var(--bg-color-light-pink)
}
.advantages__container{
    padding-bottom: 120px;
    @media screen and (min-width:480px) and (max-width:1279.5px) {
        padding-bottom: 80px;
    }
}
.advantages__list{
    display: flex;
    flex-direction: row;

    @media screen and (max-width:767.5px){
        flex-direction: column;
    }
    @media screen and (min-width:768px) and (max-width:1279.5px){
        flex-direction: row;
    }

}
.advantages__item{

        &:nth-child(1) {
            &>.advantages__number::before{
                position: absolute;
                top: -85px;
                content: "";
                width: 32px;
                height: 50px;
                background-image: url("../img/advantages/icon1.png");
                background-repeat: no-repeat;
                background-size: cover;
                //retina
                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url("../img/advantages/icon1@2x.png");   
                }

                @media screen and (max-width:767.5px) {
                    top: -61px;
                
                }
                @media screen and (min-width:768px) and (max-width:1279.5px){
                    top: -81px;
                    
                }
            }
        }    
        &:nth-child(2) {
            
            &>.advantages__number::before {
                position: absolute;
                top: -85px;
                content: "";
                width: 50px;
                height: 50px;
                background-image: url("../img/advantages/icon2.png");
                background-repeat: no-repeat;
                background-size: cover;
                
                //retina
                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url("../img/advantages/icon2@2x.png");
                }
                @media screen and (max-width:767.5px) {
                    top: -61px;
                }
            }
            @media screen and (min-width:1280px){
                margin-right: 106px;
            }
        }
        &:nth-child(3) {
            
            &>.advantages__number::before {
                position: absolute;
                top: -81px;
                content: "";
                width: 44px;
                height: 50px;
                background-image: url("../img/advantages/icon3.png");
                background-repeat: no-repeat;
                background-size: cover;

                //retina
                @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url("../img/advantages/icon3@2x.png");   
                }
                @media screen and (max-width:767.5px) {
                    top: -61px;
                }
            }
            @media screen and (min-width:1280px){
                margin-right: 123px;
            }
        }
        @media screen and (max-width:767.5px){
            padding-top: 61px;
            &:not(:last-child) {
                    margin-bottom: 32px;
                }
        }
        @media screen and (min-width:768px) and (max-width:1279.5px){
            margin-right: 4px;
            padding-top: 81px;
        }
        @media screen and (min-width:1280px){
            margin-right: 142px;
            padding-top: 85px;
        }
}
.advantages__number{
    position: relative;
    font-family: var(--secondary-fonts);
    font-weight: 400;
    font-size: 58px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: var(--accent-color);
    margin-bottom: 16px;
    @media screen and (max-width:767.5px) {
        margin-bottom: 0px;
    }
    
}
.advantages__description{
    
    font-family: var(--main-fonts);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.02em;
    
    color: var(--text-color-black);
    @media screen and (max-width:767.5px) {
        width: 230px;
        font-size: 12px;
        line-height: 1.7;
    }
    @media screen and (min-width:768px) and (max-width:1279.5px) {
        width: 180px;
        font-size: 14px;
        line-height: 1.74;
    }
    @media screen and (min-width:1280px) {
        width: 288px;
        font-size: 16px;
        line-height: 1.76;
    }
}