.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}
.gallery__container {
    background-image: linear-gradient(#FFF5F6 45%, #FFFFFF 45%);
    padding-top: 60px;
    padding-bottom: 60px;
}

.grad {
    display: grid;
    z-index: 0;
    position: relative;
    justify-content: center;
    grid-template-rows: repeat(6, 20px);
    grid-template-columns: repeat(7, 40px);
    grid-gap: 2px;

    @media screen and(min-width: 768px) {
        grid-template-rows: repeat(6, 44px);
        grid-template-columns: repeat(7, 88px);
    }

    @media screen and(min-width: 1280px) {
        grid-template-rows: repeat(6, 70px);
        grid-template-columns: repeat(7, 140px);
    }
}

.grad__item {
    border: 1px solid transparent;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    z-index: 0;
    transition: transform 500ms ease-in-out, z-index 500ms;
    overflow: hidden;

    @media screen and(min-width: 768px) {
        width: 88px;
        height: 88px;
        border-radius: 12px;
    }

    @media screen and(min-width: 1280px) {
        width: 140px;
        height: 140px;
        border-radius: 22px;
    }

}

.grad__item:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}

.grad__item:nth-child(2) {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
}

.grad__item:nth-child(3) {
    grid-column: 2 / 2;
    grid-row: 4 / 5;
}

.grad__item:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 80px;
    height: 80px;

    @media screen and(min-width: 768px) {
        width: 176px;
        height: 176px;
    }

    @media screen and(min-width: 1280px) {
        width: 280px;
        height: 280px;
    }
}

.grad__item:nth-child(5) {
    grid-column: 3 / 3;
    grid-row: 5 / 6;
}

.grad__item:nth-child(6) {
    grid-column: 5 / 5;
    grid-row: 3 / 4;
}

.grad__item:nth-child(7) {
    grid-column: 5 / 5;
    grid-row: 5 / 6;
}

.grad__item:nth-child(8) {
    grid-column: 6 / 6;
    grid-row: 2 / 3;
}

.grad__item:nth-child(9) {
    grid-column: 6 / 6;
    grid-row: 4 / 5;
}

.grad__item:nth-child(10) {
    grid-column: 7 / 7;
    grid-row: 3 / 4;
}

.grad__item:hover {
    z-index: 100;
    position: absolute;
    transform: scale(1.5);


}