// .gallery {
//     background-image: linear-gradient(#FFF5F6 43%, #FFFFFF 43%);
//     // padding-top: 60px;
//     // padding-bottom: 60px;
    
//     @media screen and(max-width: 295.5px) {
        
//     overflow-x: scroll;
// }
// }

// .grid {
//     display: grid;
//     z-index: 0;
//     position: relative;
//     justify-content: center;

//     grid-template-rows: repeat(6, 70px);
//     grid-template-columns: repeat(7, 140px);
//     grid-gap: 4px;

//     @media screen and (min-width: 768px) and(max-width: 1279.5px) {
//         grid-template-rows: repeat(6, 44px);
//         grid-template-columns: repeat(7, 88px);
//         grid-gap: 2px;
//     }

//     @media screen and(max-width: 767.5px) {
//         grid-template-rows: repeat(6, 20px);
//         grid-template-columns: repeat(7, 40px);
//         grid-gap: 2px;
//     }
// }


// .grid__item {
//     // outline: 1px solid gold;
//     border: 1px solid transparent;
//     z-index: 0;
//     transition: transform 500ms ease-in-out, z-index 500ms;
//     overflow: hidden;

//     width: 140px;
//     height: 140px;
//     border-radius: 22px;

//     cursor: pointer;

//     @media screen and (min-width: 768px) and (max-width: 1279.5px) {
//         width: 88px;
//         height: 88px;
//         border-radius: 12px;
//     }

//     @media screen and(max-width: 767.5px) {
        
//         border-radius: 5px;
//             width: 40px;
//             height: 40px;
//     }

// }

// .grid__item:nth-child(1) {
//     grid-column: 1 / 1;
//     grid-row: 3 / 3;
// }

// .grid__item:nth-child(2) {
//     grid-column: 2 / 2;
//     grid-row: 2 / 3;
// }

// .grid__item:nth-child(3) {
//     grid-column: 2 / 2;
//     grid-row: 4 / 5;
// }

// .grid__item:nth-child(4) {
//     grid-column: 3 / 4;
//     grid-row: 1 / 2;

//     width: 280px;
//     height: 280px;

//     @media screen and(min-width: 768px) and (max-width: 1279.5px) {
//         width: 176px;
//         height: 176px;
//     }

//     @media screen and(max-width: 767.5px) {
//         width: 80px;
//         height: 80px;
//     }
// }

// .grid__item:nth-child(5) {
//     grid-column: 3 / 3;
//     grid-row: 5 / 6;
//     position: absolute;
//     top: -8px;

//     @media screen and(max-width: 1279.5px) {
//         top: -4px;
//     }

// }

// .grid__item:nth-child(6) {
//     grid-column: 5 / 5;
//     grid-row: 2 / 3;
// }

// .grid__item:nth-child(7) {
//     grid-column: 5 / 5;
//     grid-row: 4 / 5;
// }

// .grid__item:nth-child(8) {
//     grid-column: 6 / 6;
//     grid-row: 1 / 2;
// }

// .grid__item:nth-child(9) {
//     grid-column: 6 / 6;
//     grid-row: 3 / 4;
// }

// .grid__item:nth-child(10) {
//     grid-column: 7 / 7;
//     grid-row: 2 / 3;
// }

// .grid__item:hover, .grid__item:focus {
//     z-index: 100;
//     position: absolute;
//     transform: scale(1.5);

// }
// .grid__item:focus {
//     outline: 3px solid #d41342;
//     outline-offset: -3px;
// }


.gallery {
    background-image: linear-gradient(#FFF5F6 43%, #FFFFFF 43%);

    // padding-top: 60px;
    // padding-bottom: 60px;
    @media screen and(max-width: 295.5px) {
        overflow-x: scroll;
    }
}

.grid {
    display: grid;
    z-index: 0;
    position: relative;
    justify-content: center;
    grid-template-rows: repeat(6, 70px);
    grid-template-columns: repeat(7, 140px);
    grid-gap: 4px;

    @media screen and (min-width: 768px) and(max-width: 1279.5px) {
        grid-template-rows: repeat(6, 44px);
        grid-template-columns: repeat(7, 88px);
        grid-gap: 2px;
    }

    @media screen and(max-width: 767.5px) {
        grid-template-columns: repeat(7, 60px);
        grid-template-rows: repeat(6, 30px);
        grid-gap: 2px;
    }

    @media screen and(max-width: 480px) {
        grid-template-columns: repeat(7, calc(100vw / 8));
        grid-template-rows: repeat(6, calc(100vw / 16));
    }

    // від 320 не зменшується розмір клітинки
    // @media screen and(max-width: 320px) {
    //     grid-template-columns: repeat(7, 40px);
    //     grid-template-rows: repeat(6, 20px);
    // }
    //
}

.grid__item {
    border: 0px solid transparent;
    z-index: 0;
    cursor: pointer;
    transition: transform var(--kubik), z-index var(--kubik);
    overflow: hidden;
    // від 320 не зменшується розмір клітинки
    // min-width: 40px;
    // min-height: 40px;
    //
    width: 140px;
    height: 140px;
    border-radius: 22px;

    @media screen and (min-width: 768px) and (max-width: 1279.5px) {
        width: 88px;
        height: 88px;
        border-radius: 12px;
    }

    @media screen and(max-width: 767.5px) {
        border-radius: 7px;
        width: 60px;
        height: 60px;
    }

    @media screen and(max-width: 480px) {
        border-radius: 5px;
        width: calc(100vw / 8);
        height: calc(100vw / 8);
    }
}

@media screen and(max-width: 767.5px) {
    .image {
        width: 100%;
    }
}

.grid__item:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
}

.grid__item:nth-child(2) {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
}

.grid__item:nth-child(3) {
    grid-column: 2 / 2;
    grid-row: 4 / 5;
}

.grid__item:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    // від 320 не зменшується розмір клітинки
    // min-width: 80px;
    // min-height: 80px;
    //
    width: 280px;
    height: 280px;

    @media screen and(min-width: 768px) and (max-width: 1279.5px) {
        width: 176px;
        height: 176px;
    }

    @media screen and (min-width: 480px) and (max-width: 767.5px) {
        width: 120px;
        height: 120px;
    }

    @media screen and (max-width: 480px) {
        width: calc(100vw / 4);
        height: calc(100vw / 4);
    }
}

.grid__item:nth-child(5) {
    grid-column: 3 / 3;
    grid-row: 5 / 6;
    position: absolute;
    top: -8px;

    @media screen and(max-width: 1279.5px) {
        top: -4px;
    }
}

.grid__item:nth-child(6) {
    grid-column: 5 / 5;
    grid-row: 2 / 3;
}

.grid__item:nth-child(7) {
    grid-column: 5 / 5;
    grid-row: 4 / 5;
}

.grid__item:nth-child(8) {
    grid-column: 6 / 6;
    grid-row: 1 / 2;
}

.grid__item:nth-child(9) {
    grid-column: 6 / 6;
    grid-row: 3 / 4;
}

.grid__item:nth-child(10) {
    grid-column: 7 / 7;
    grid-row: 2 / 3;
}

.grid__item:hover,
.grid__item:focus {
    z-index: 100;
    position: absolute;
    transform: scale(1.5);
}

.grid__item:focus {
    outline: 3px solid #D41342;
    outline-offset: -3px;

    @media screen and(max-width: 1279.5px) {
        outline: 2px solid #D41342;
        outline-offset: -2px;
    }
}