.products {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;

  @media screen and(min-width:768px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  @media screen and(min-width:1280px) {
    padding-top: 60px;
  }

  &__label {
    margin-bottom: 16px;

    font-family: var(--secondary-fonts), cursive;
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--text-color-light-pink);

    @media screen and (max-width: 1279.5px) {
      margin-bottom: 18px;

      font-size: 26px;
    }
    @media screen and (max-width: 767.5px) {
      margin-bottom: 15px;

      font-size: 18px;
    }
  }

  &__title {
    margin-bottom: 258px;

    font-family: var(--secondary-fonts), cursive;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--accent-color);

    @media screen and (max-width: 1279.5px) {
      margin-bottom: 154px;

      font-size: 48px;
      line-height: 1.15;
    }
    @media screen and (max-width: 767.5px) {
      margin-bottom: 148px;

      font-size: 34px;
    }
  }

  &__list {
    display: flex;
    gap: 32px;
    @media screen and (min-width: 768px) and (max-width: 1279.5px) {
      gap: 16px;
    }

    @media screen and (max-width: 767.5px) {
      display: block;
    }
  }

  &__item {
    position: relative;

    padding: 161px 75px 60px 75px;

    border-radius: 24px;
    @media screen and (min-width: 768px) and (max-width: 1279.5px) {
      padding: 118px 32px 40px 32px;
    }
    @media screen and (max-width: 767.5px) {
      padding: 160px 40px 40px 40px;
    }
    @media screen and (max-width: 767.5px) {
      &:not(:last-child) {
        margin-bottom: 140px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: -261px;

      width: 394px;
      height: 394px;

      background-position: center;
      background-repeat: no-repeat;
      transform: translateX(-50%);

      @media screen and (min-width: 768px) and (max-width: 1279.5px) {
        width: 224px;
        height: 224px;

        top: -138px;
      }

      @media screen and (max-width: 767.5px) {
        width: 280px;
        height: 280px;

        top: -140px;
      }
    }

    &:nth-child(1) {
      background-color: var(--bg-color-pink);

      &::before {
        background-image: url(../img/products/ice-cream_sm.png);
        background-image: -webkit-image-set(url(../img/products/ice-cream_sm.webp) 1x);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../img/products/ice-cream_sm@2x.png);
          background-image: -webkit-image-set(url(../img/products/ice-cream_sm@2x.webp) 2x);
        }

        @media screen and (min-width: 768px) {
          background-image: url(../img/products/ice-cream_md.png);
          background-image: -webkit-image-set(url(../img/products/ice-cream_md.webp) 1x);
          @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../img/products/ice-cream_md@2x.png);
            background-image: -webkit-image-set(url(../img/products/ice-cream_md@2x.webp) 2x);
          }
        }
        @media screen and (min-width: 1280px) {
          background-image: url(../img/products/ice-cream_lg.png);
          background-image: -webkit-image-set(url(../img/products/ice-cream_lg.webp) 1x);
          @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../img/products/ice-cream_lg@2x.png);
            background-image: -webkit-image-set(url(../img/products/ice-cream_lg@2x.webp) 2x);
          }
        }
      }
    }
    &:nth-child(2) {
      background-color: var(--bg-color-coffee);
      &::before {
        background-image: url(../img/products/ice-coffee_sm.png);
        background-image: -webkit-image-set(url(../img/products/ice-coffee_sm.webp) 1x);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../img/products/ice-coffee_sm@2x.png);
          background-image: -webkit-image-set(url(../img/products/ice-coffee_sm@2x.webp) 2x);
        }

        @media screen and (min-width: 768px) {
          background-image: url(../img/products/ice-coffee_md.png);
          background-image: -webkit-image-set(url(../img/products/ice-coffee_md.webp) 1x);
          @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../img/products/ice-coffee_md@2x.png);
            background-image: -webkit-image-set(url(../img/products/ice-coffee_md@2x.webp) 2x);
          }
        }
        @media screen and (min-width: 1280px) {
          background-image: url(../img/products/ice-coffee_lg.png);
          background-image: -webkit-image-set(url(../img/products/ice-coffee_lg.webp) 1x);
          @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../img/products/ice-coffee_lg@2x.png);
            background-image: -webkit-image-set(url(../img/products/ice-coffee_lg@2x.webp) 2x);
          }
        }
      }
    }
    &:nth-child(3) {
      background-color: var(--bg-color-green);
      &::before {
        background-image: url(../img/products/milkshakes_sm.png);
        background-image: -webkit-image-set(url(../img/products/milkshakes_sm.webp) 1x);
        @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../img/products/milkshakes_sm@2x.png);
          background-image: -webkit-image-set(url(../img/products/milkshakes_sm@2x.webp) 2x);
        }
        @media screen and (min-width: 768px) {
          background-image: url(../img/products/milkshakes_md.png);
          background-image: -webkit-image-set(url(../img/products/milkshakes_md.webp) 1x);
          @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../img/products/milkshakes_md@2x.png);
            background-image: -webkit-image-set(url(../img/products/milkshakes_md@2x.webp) 2x);
          }
        }
        @media screen and (min-width: 1280px) {
          background-image: url(../img/products/milkshakes_lg.png);
          background-image: -webkit-image-set(url(../img/products/milkshakes_lg.webp) 1x);
          @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../img/products/milkshakes_lg@2x.png);
            background-image: -webkit-image-set(url(../img/products/milkshakes_lg@2x.webp) 2x);
          }
        }
      }
    }
  }
  &__subtitle {
    margin-bottom: 32px;

    font-family: var(--secondary-fonts);
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--text-color-light);

    @media screen and (max-width: 1279.5px) {
      font-size: 20px;
      line-height: 1.15;
    }

    &::after {
      content: '';
      display: flex;
      width: 26px;
      height: 6px;
      margin-top: 32px;
      margin-left: auto;
      margin-right: auto;

      background-image: url(../img/products/svg/dots.svg);
    }
  }

  &__description {
    margin-bottom: 60px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;

    color: var(--text-color-light);
    @media screen and (max-width: 1279.5px) {
      margin-bottom: 32px;

      font-size: 14px;
      @media screen and (max-width: 767.5px) {
        line-height: 1.52;
      }
    }
  }

  &__btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;

    cursor: pointer;

    background-position: center;
    background-repeat: no-repeat;

    background-image: url(../img/products/products-btn.jpg);
    background-image: -webkit-image-set(url(../img/products/products-btn.webp) 1x);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/products/products-btn@2x.jpg);
      background-image: -webkit-image-set(url(../img/products/products-btn@2x.webp) 2x);
    }
  }

  .modal {
    position: absolute;
    top: 253px;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: center;

    padding: 40px;

    background-color: var(--bg-color-menu);
    border-radius: 0 0 24px 24px;

    opacity: 0;
    visibility: hidden;
    transition: visibility var(--kubik), opacity var(--kubik);
    &--orange {
      background-color: var(--bg-color-modal-orange);
    }
    &--green {
      background-color: var(--bg-color-modal-green);
    }

    &.active {
      opacity: 1;
      visibility: visible;
      transition: all var(--kubik);
      // scale: 1;
    }

    @media screen and(min-width:768px) and(max-width:1279.5px) {
      top: 211px;
    }
    @media screen and(min-width:1280px) {
      top: 269px;
    }

    &__btn {
      position: absolute;
      top: 20px;
      right: 20px;

      display: flex;
      padding: 0;

      background-color: transparent;
      border: none;

      cursor: pointer;
    }

    &__description {
      font-size: 14px;
      line-height: 1.52;

      color: var(--text-color-light);

      @media screen and(min-width:768px) {
        line-height: 1.76;
      }
      @media screen and(min-width:1280px) {
        font-size: 16px;
      }
    }
  }
}
