// <!-- Reviews -->
.reviews {
  // padding-bottom: 120px;
  padding-top: 60px;
  @media screen and (max-width: 1199px) {
    padding-top: 20px;
  }
}
.reviews__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.reviews__text {
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
  @media screen and (max-width: 1199px) {
    font-size: 14px;
    line-height: 2.16;
  }
  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 2.55;
  }
}

.reviews__written {
  display: flex;
  align-items: center;
  padding-left: 142px;
  padding-right: 142px;
  padding-top: 47px;
  padding-bottom: 39px;
  max-width: 1134px;
  background: #fafafa;
}
.reviews__list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 16px;
}
.reviews__icon {
  fill: #e1e1e1;
  @media screen and (max-width: 1199px) {
    width: 60px;
  }
}

.reviews__slider {
  min-width: 0;
}

.reviews__address {
  font-size: 20px;
  margin-top: 16px;
  @media screen and (max-width: 1199px) {
    font-size: 16px;
    line-height: 1.86;
  }
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

.slider__text {
  position: relative;
  display: inline;
  background-repeat: no-repeat;
  background-position: center bottom -2px;
  background-size: 100% 3px;
  background-image: linear-gradient(to right, #e1e1e1, #e1e1e1);
}

.reviews__icon:before {
  position: absolute;
  content: '';
}
.reviews__icons-small {
  display: inline-flex;
  margin-top: 16px;
}
.reviews__dot {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.reviews__address-icon {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.reviews__dots {
  display: inline-flex;
  margin-top: 32px;
  @media screen and (max-width: 767px) {
    margin-top: 16px;
  }
}