// <!-- Reviews -->
.reviews {
  padding-bottom: 164px;
  padding-top: 120px;
}

.reviews__list {
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
}
.reviews__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.reviews__written {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 142px;
  padding-right: 142px;
  padding-top: 47px;
  padding-bottom: 39px;
  max-width: 1134px;
  max-height: 138px;
  background: #fafafa;
}
.reviews__icon {
    
  fill: #e1e1e1;
  transform: rotate(-180deg);
}

.reviews__slider {
  min-width: 0;
}

.reviews__address {
  font-size: 20px;
  margin-top: 36px;
}
.slider__text {
  border-bottom: 1px solid #E1E1E1;
}
.reviews__dots {
  display: block;
}