/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import "./utils/placeholder";
@import "./utils/variables";
@import "./basic";
@import "./header-hero";
@import "./products";
@import "./about";
@import "./advantages";
@import "./gallery";
@import "./reviews";
@import "./contacts";
@import "./footer";
@import "./modal";