@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__btn, .header__button--modal {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}

.header__button--modal {
  margin-right: auto;
  margin-left: auto;
}

:root {
  --akcent-color: #d41443;
  --second-hover: #c7133e;
  --editional-color: #000000;
  --background-hover: #ecebeb;
  --main-color: #ffffff;
  --kubik: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --basic-font: DM Sans;
  /* Шрифти */
  --main-fonts: 'DM Sans', sans-serif;
  --secondary-fonts: 'Titan One', sans-serif;
  /* Кольори фону */
  --bg-color-light-pink: #fff5f6;
  --bg-color-pink: #ffb8ca;
  --bg-color-coffee: #f0d1a5;
  --bg-color-green: #c2e297;
  --bg-color-light-grey: #fafafa;
  --bg-color-menu: #e17992;
  /* Кольори шрифтів */
  --text-color-light: #ffffff;
  --text-color-light-pink: #ffa5ba;
  --text-color-black: #000000;
  --text-color-light-grey: #ecebeb;
  --text-color-grey: #907e82;
  /* Інші кольори */
  --accent-color: #d41443;
  --accent-color-hover: #c7133e;
  --line-color-grey: #e1e1e1;
  --line-color-pink: #e18298;
  --icon-color: #fea5bb;
}

.container {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 767.5px) {
  .container {
    max-width: 480px;
  }
}

body {
  font-family: var(--basic-font), sans-serif;
}

@media screen and (max-width: 767.5px) {
  body.is {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h3, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* робить елемент невидимим */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.background {
  background-color: var(--bg-color-pink);
}

@media screen and (max-width: 767.98px) {
  .background {
    overflow: hidden;
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    padding-top: 8px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-top: 35px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__nav {
  z-index: 2;
}

@media screen and (max-width: 1279.98px) {
  .header__nav {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .header__item {
    margin-right: 35px;
  }
  .header__item:last-child {
    margin-right: 0px;
  }
}

.header__link {
  display: inline-block;
  padding: 10px 0px;
  font-family: var(--main-fonts);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: var(--main-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1280px) {
  .header__link {
    font-size: 16px;
    line-height: 1.31;
  }
}

@media screen and (min-width: 1280px) {
  .header__btn-menu {
    display: none;
  }
}

.header__btn-menu {
  border: transparent;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header__btn-menu {
    margin-right: 32px;
  }
}

.header__btn-close {
  display: none;
}

.header__btn {
  padding: 12px 36px;
  border-radius: 22px;
  border: transparent;
  background-color: var(--main-color);
  font-family: var(--main-fonts);
  color: var(--accent-color);
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__btn:hover, .header__btn:focus {
  background-color: var(--background-hover);
}

@media screen and (max-width: 767.98px) {
  .header__btn {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header__btn {
    margin-left: auto;
  }
}

.header__icon {
  margin-left: 12px;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .hero {
    padding-top: 136px;
    padding-bottom: 158px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 20px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.hero__wrapper-left {
  z-index: 4;
}

.hero__title {
  letter-spacing: 0.04em;
  font-family: var(--secondary-fonts);
  text-transform: uppercase;
  color: var(--main-color);
}

@media screen and (max-width: 767.98px) {
  .hero__title {
    max-width: 218px;
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 162px;
    font-size: 22px;
    line-height: 1.13;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 38px;
    line-height: 1.15;
    max-width: 277px;
  }
}

.hero__title--accent {
  color: var(--accent-color);
}

@media screen and (max-width: 767.98px) {
  .hero__title--accent {
    font-size: 46px;
  }
}

@media screen and (min-width: 768px) {
  .hero__title--accent {
    font-size: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title--accent {
    font-size: 60px;
  }
}

.hero__list-left {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1279.98px) {
  .hero__list-left {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__list-left {
    margin-top: 24px;
  }
}

@media screen and (max-width: 1279.98px) {
  .hero__item-left:first-child {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__item-left:first-child {
    margin-right: 12px;
  }
}

.hero__btn {
  border-radius: 20px;
  border: transparent;
  color: var(--accent-color);
  font-family: var(--main-fonts);
  background-color: var(--main-color);
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: var(--background-hover);
}

@media screen and (max-width: 1279.98px) {
  .hero__btn {
    padding: 8px 12px;
    font-size: 8px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .hero__btn {
    padding: 11px 19px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero__btn-accent {
  border-radius: 20px;
  border: transparent;
  color: var(--main-color);
  font-family: var(--main-fonts);
  font-weight: 400;
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn-accent:hover, .hero__btn-accent:focus {
  background-color: var(--accent-color-hover);
}

@media screen and (max-width: 1279.98px) {
  .hero__btn-accent {
    padding: 7px 14px;
    font-size: 8px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .hero__btn-accent {
    padding: 11px 24px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  z-index: 4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767.98px) {
  .hero__box {
    display: none;
  }
}

.hero__text-left {
  font-family: var(--main-color);
  font-weight: 400;
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .hero__text-left {
    max-width: 114px;
    font-size: 8px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1280px) {
  .hero__text-left {
    max-width: 200px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero__modal-btn {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hero__modal-btn {
    margin-top: 7px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__modal-btn {
    margin-top: 20px;
  }
}

.hero__list-right {
  margin-left: auto;
}

@media screen and (max-width: 767.98px) {
  .hero__list-right {
    display: none;
  }
}

.hero__item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.hero__item-right:last-child {
  margin-top: 18px;
}

.hero__number {
  display: inline-block;
  position: relative;
  z-index: 1;
  font-family: var(--secondary-fonts);
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--accent-color);
}

@media screen and (max-width: 767.98px) {
  .hero__number {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero__number {
    font-size: 28px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .hero__number {
    font-size: 46px;
    line-height: 1.13;
  }
}

.hero__number::before {
  position: absolute;
  z-index: -1;
  content: ' ';
  background-color: var(--main-color);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .hero__number::before {
    top: -3px;
    right: -7px;
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__number::before {
    top: -7px;
    right: -15px;
    width: 30px;
    height: 30px;
  }
}

.hero__text-right {
  display: block;
  margin-top: 2px;
  font-family: var(--main-fonts);
  color: var(--main-color);
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .hero__text-right {
    font-size: 8px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .hero__text-right {
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero__img-middle {
  z-index: 1;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 767.98px) {
  .hero__img-middle {
    bottom: 0px;
    margin-left: auto;
    right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .hero__img-middle {
    left: 320px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-middle {
    left: 620px;
  }
}

.hero__img-middle::before {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  content: '  ';
  background-color: #ffa5ba;
}

@media screen and (max-width: 767.98px) {
  .hero__img-middle::before {
    top: -14px;
    left: -100px;
    width: 346px;
    height: 344px;
  }
}

@media screen and (min-width: 768px) {
  .hero__img-middle::before {
    top: -55px;
    left: -93px;
    width: 360px;
    height: 360px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-middle::before {
    top: -51px;
    left: -118px;
    width: 540px;
    height: 540px;
  }
}

.hero__img-right {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0px;
}

@media screen and (max-width: 767.98px) {
  .hero__img-right {
    display: none;
  }
}

.logo {
  margin-right: auto;
}

.header__nav {
  margin-right: auto;
}

.hidden.is {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.products {
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
}

.products__label {
  margin-bottom: 16px;
  font-family: var(--secondary-fonts), cursive;
  font-size: 30px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-light-pink);
}

@media screen and (max-width: 1279.5px) {
  .products__label {
    margin-bottom: 18px;
    font-size: 26px;
  }
}

@media screen and (max-width: 767.5px) {
  .products__label {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

.products__title {
  margin-bottom: 258px;
  font-family: var(--secondary-fonts), cursive;
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (max-width: 1279.5px) {
  .products__title {
    margin-bottom: 154px;
    font-size: 48px;
    line-height: 1.15;
  }
}

@media screen and (max-width: 767.5px) {
  .products__title {
    margin-bottom: 148px;
    font-size: 34px;
  }
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .products__list {
    gap: 16px;
  }
}

@media screen and (max-width: 767.5px) {
  .products__list {
    display: block;
  }
}

.products__item {
  position: relative;
  padding: 161px 75px 60px 75px;
  border-radius: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .products__item {
    padding: 118px 32px 40px 32px;
  }
}

@media screen and (max-width: 767.5px) {
  .products__item {
    padding: 160px 40px 40px 40px;
  }
}

@media screen and (max-width: 767.5px) {
  .products__item:not(:last-child) {
    margin-bottom: 140px;
  }
}

.products__item::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -261px;
  width: 394px;
  height: 394px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .products__item::before {
    width: 224px;
    height: 224px;
    top: -138px;
  }
}

@media screen and (max-width: 767.5px) {
  .products__item::before {
    width: 280px;
    height: 280px;
    top: -140px;
  }
}

.products__item:nth-child(1) {
  background-color: var(--bg-color-pink);
}

.products__item:nth-child(1)::before {
  background-image: url(../img/products/ice-cream_sm.png);
  background-image: -webkit-image-set(url(../img/products/ice-cream_sm.webp) 1x);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(1)::before {
    background-image: url(../img/products/ice-cream_sm@2x.png);
    background-image: -webkit-image-set(url(../img/products/ice-cream_sm@2x.webp) 2x);
  }
}

@media screen and (min-width: 768px) {
  .products__item:nth-child(1)::before {
    background-image: url(../img/products/ice-cream_md.png);
    background-image: -webkit-image-set(url(../img/products/ice-cream_md.webp) 1x);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item:nth-child(1)::before {
    background-image: url(../img/products/ice-cream_md@2x.png);
    background-image: -webkit-image-set(url(../img/products/ice-cream_md@2x.webp) 2x);
  }
}

@media screen and (min-width: 1280px) {
  .products__item:nth-child(1)::before {
    background-image: url(../img/products/ice-cream_lg.png);
    background-image: -webkit-image-set(url(../img/products/ice-cream_lg.webp) 1x);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products__item:nth-child(1)::before {
    background-image: url(../img/products/ice-cream_lg@2x.png);
    background-image: -webkit-image-set(url(../img/products/ice-cream_lg@2x.webp) 2x);
  }
}

.products__item:nth-child(2) {
  background-color: var(--bg-color-coffee);
}

.products__item:nth-child(2)::before {
  background-image: url(../img/products/ice-coffee_sm.png);
  background-image: -webkit-image-set(url(../img/products/ice-coffee_sm.webp) 1x);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(2)::before {
    background-image: url(../img/products/ice-coffee_sm@2x.png);
    background-image: -webkit-image-set(url(../img/products/ice-coffee_sm@2x.webp) 2x);
  }
}

@media screen and (min-width: 768px) {
  .products__item:nth-child(2)::before {
    background-image: url(../img/products/ice-coffee_md.png);
    background-image: -webkit-image-set(url(../img/products/ice-coffee_md.webp) 1x);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item:nth-child(2)::before {
    background-image: url(../img/products/ice-coffee_md@2x.png);
    background-image: -webkit-image-set(url(../img/products/ice-coffee_md@2x.webp) 2x);
  }
}

@media screen and (min-width: 1280px) {
  .products__item:nth-child(2)::before {
    background-image: url(../img/products/ice-coffee_lg.png);
    background-image: -webkit-image-set(url(../img/products/ice-coffee_lg.webp) 1x);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products__item:nth-child(2)::before {
    background-image: url(../img/products/ice-coffee_lg@2x.png);
    background-image: -webkit-image-set(url(../img/products/ice-coffee_lg@2x.webp) 2x);
  }
}

.products__item:nth-child(3) {
  background-color: var(--bg-color-green);
}

.products__item:nth-child(3)::before {
  background-image: url(../img/products/milkshakes_sm.png);
  background-image: -webkit-image-set(url(../img/products/milkshakes_sm.webp) 1x);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(3)::before {
    background-image: url(../img/products/milkshakes_sm@2x.png);
    background-image: -webkit-image-set(url(../img/products/milkshakes_sm@2x.webp) 2x);
  }
}

@media screen and (min-width: 768px) {
  .products__item:nth-child(3)::before {
    background-image: url(../img/products/milkshakes_md.png);
    background-image: -webkit-image-set(url(../img/products/milkshakes_md.webp) 1x);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item:nth-child(3)::before {
    background-image: url(../img/products/milkshakes_md@2x.png);
    background-image: -webkit-image-set(url(../img/products/milkshakes_md@2x.webp) 2x);
  }
}

@media screen and (min-width: 1280px) {
  .products__item:nth-child(3)::before {
    background-image: url(../img/products/milkshakes_lg.png);
    background-image: -webkit-image-set(url(../img/products/milkshakes_lg.webp) 1x);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products__item:nth-child(3)::before {
    background-image: url(../img/products/milkshakes_lg@2x.png);
    background-image: -webkit-image-set(url(../img/products/milkshakes_lg@2x.webp) 2x);
  }
}

.products__subtitle {
  margin-bottom: 32px;
  font-family: var(--secondary-fonts);
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-light);
}

@media screen and (max-width: 1279.5px) {
  .products__subtitle {
    font-size: 20px;
    line-height: 1.15;
  }
}

.products__subtitle::after {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 26px;
  height: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/products/svg/dots.svg);
}

.products__description {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: var(--text-color-light);
}

@media screen and (max-width: 1279.5px) {
  .products__description {
    margin-bottom: 32px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1279.5px) and (max-width: 767.5px) {
  .products__description {
    line-height: 1.52;
  }
}

.products__btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/products/products-btn.jpg);
  background-image: -webkit-image-set(url(../img/products/products-btn.webp) 1x);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__btn {
    background-image: url(../img/products/products-btn@2x.jpg);
    background-image: -webkit-image-set(url(../img/products/products-btn@2x.webp) 2x);
  }
}

.about-bg {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .about-bg {
    padding-top: 20px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 767.5px) {
  .about-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.about__lable {
  margin-bottom: 15px;
  text-align: center;
  font-family: var(--secondary-fonts);
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-light-pink);
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .about__lable {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (max-width: 767.5px) {
  .about__lable {
    font-size: 18px;
    line-height: 1.16;
  }
}

.about__title {
  margin-bottom: 80px;
  text-align: center;
  font-family: var(--secondary-fonts);
  font-size: 58px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .about__title {
    margin-bottom: 40px;
    font-size: 48px;
    letter-spacing: 0.04em;
  }
}

@media screen and (max-width: 767.5px) {
  .about__title {
    margin-bottom: 32px;
    font-size: 34px;
    line-height: 1.14;
    letter-spacing: 0.04em;
  }
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767.5px) {
  .about__box {
    display: block;
  }
}

.about__content-box {
  max-width: 463px;
  margin-left: 140px;
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .about__content-box {
    margin-left: 32px;
    margin-right: 0;
  }
}

@media screen and (min-width: 380px) and (max-width: 767.5px) {
  .about__content-box {
    max-width: 334px;
    margin-left: 32px;
    margin-left: 0;
  }
}

@media screen and (max-width: 767.5px) {
  .about__content-box {
    padding-right: 60px;
    margin-left: 0;
  }
}

.about__content-title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: var(--editional-color);
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .about__content-title {
    font-size: 14px;
    letter-spacing: inherit;
  }
}

@media screen and (max-width: 767.5px) {
  .about__content-title {
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: inherit;
  }
}

.about__content-text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.04em;
  color: var(--text-color-grey);
}

@media screen and (max-width: 767.5px) {
  .about__content-text {
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: inherit;
  }
}

.about__button {
  border-radius: 22px;
  padding: 10px 37px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: var(--akcent-color);
  background-color: var(--text-color-light);
  -webkit-transition: background-color var(--kubik);
  transition: background-color var(--kubik);
}

.about__button:hover, .about__button:focus {
  background-color: var(--text-color-light-grey);
}

.about__vector {
  margin-left: 13px;
}

.about-bg {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 200px;
  background-color: var(--bg-color-light-pink);
  background-image: url(../img/about/sectionbg-lg.png);
  background-image: -webkit-image-set(url(../img/about/sectionbg-lg.webp) 1x);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .about-bg {
    background-image: url(../img/about/sectionbg-lg@2x.png);
    background-image: -webkit-image-set(url(../img/about/sectionbg-lg@2x.webp) 2x);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .about-bg {
    background-image: none;
  }
}

@media screen and (max-width: 767.5px) {
  .about-bg {
    background-position: right 0 bottom 215px;
    background-image: url(../img/about/sectionbg-sm.png);
    background-image: -webkit-image-set(url(../img/about/sectionbg-sm.webp) 1x);
  }
}

@media screen and (max-width: 767.5px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.5px) and (-moz-min-device-pixel-ratio: 2), screen and (max-width: 767.5px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.5px) and (min-resolution: 192dpi), screen and (max-width: 767.5px) and (min-resolution: 2dppx) {
  .about-bg {
    background-image: url(../img/about/sectionbg-sm@2x.png);
    background-image: -webkit-image-set(url(../img/about/sectionbg-sm@2x.webp) 2x);
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.advantages {
  background-color: var(--bg-color-light-pink);
}

.advantages__container {
  padding-bottom: 120px;
}

@media screen and (min-width: 480px) and (max-width: 1279.5px) {
  .advantages__container {
    padding-bottom: 80px;
  }
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 767.5px) {
  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .advantages__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.advantages__item:nth-child(1) > .advantages__number::before {
  position: absolute;
  top: -85px;
  content: "";
  width: 32px;
  height: 50px;
  background-image: url("../img/advantages/icon1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:nth-child(1) > .advantages__number::before {
    background-image: url("../img/advantages/icon1@2x.png");
  }
}

@media screen and (max-width: 767.5px) {
  .advantages__item:nth-child(1) > .advantages__number::before {
    top: -61px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .advantages__item:nth-child(1) > .advantages__number::before {
    top: -81px;
  }
}

.advantages__item:nth-child(2) > .advantages__number::before {
  position: absolute;
  top: -85px;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url("../img/advantages/icon2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:nth-child(2) > .advantages__number::before {
    background-image: url("../img/advantages/icon2@2x.png");
  }
}

@media screen and (max-width: 767.5px) {
  .advantages__item:nth-child(2) > .advantages__number::before {
    top: -61px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item:nth-child(2) {
    margin-right: 106px;
  }
}

.advantages__item:nth-child(3) > .advantages__number::before {
  position: absolute;
  top: -81px;
  content: "";
  width: 44px;
  height: 50px;
  background-image: url("../img/advantages/icon3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:nth-child(3) > .advantages__number::before {
    background-image: url("../img/advantages/icon3@2x.png");
  }
}

@media screen and (max-width: 767.5px) {
  .advantages__item:nth-child(3) > .advantages__number::before {
    top: -61px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item:nth-child(3) {
    margin-right: 123px;
  }
}

@media screen and (max-width: 767.5px) {
  .advantages__item {
    padding-top: 61px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .advantages__item {
    margin-right: 4px;
    padding-top: 81px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item {
    margin-right: 142px;
    padding-top: 85px;
  }
}

.advantages__number {
  position: relative;
  font-family: var(--secondary-fonts);
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 16px;
}

@media screen and (max-width: 767.5px) {
  .advantages__number {
    margin-bottom: 0px;
  }
}

.advantages__description {
  font-family: var(--main-fonts);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--text-color-black);
}

@media screen and (max-width: 767.5px) {
  .advantages__description {
    width: 230px;
    font-size: 12px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .advantages__description {
    width: 180px;
    font-size: 14px;
    line-height: 1.74;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__description {
    width: 288px;
    font-size: 16px;
    line-height: 1.76;
  }
}

.gallery {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(43%, #FFF5F6), color-stop(43%, #FFFFFF));
  background-image: linear-gradient(#FFF5F6 43%, #FFFFFF 43%);
  padding-top: 60px;
  padding-bottom: 60px;
}

.grid {
  display: -ms-grid;
  display: grid;
  z-index: 0;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: (70px)[6];
      grid-template-rows: repeat(6, 70px);
  -ms-grid-columns: (140px)[7];
      grid-template-columns: repeat(7, 140px);
  grid-gap: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .grid {
    -ms-grid-rows: (44px)[6];
        grid-template-rows: repeat(6, 44px);
    -ms-grid-columns: (88px)[7];
        grid-template-columns: repeat(7, 88px);
    grid-gap: 2px;
  }
}

@media screen and (max-width: 767.5px) {
  .grid {
    -ms-grid-rows: (20px)[6];
        grid-template-rows: repeat(6, 20px);
    -ms-grid-columns: (40px)[7];
        grid-template-columns: repeat(7, 40px);
    grid-gap: 2px;
  }
}

.grid__item {
  border: 1px solid transparent;
  z-index: 0;
  -webkit-transition: z-index 500ms, -webkit-transform 500ms ease-in-out;
  transition: z-index 500ms, -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, z-index 500ms;
  transition: transform 500ms ease-in-out, z-index 500ms, -webkit-transform 500ms ease-in-out;
  overflow: hidden;
  width: 140px;
  height: 140px;
  border-radius: 22px;
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .grid__item {
    width: 88px;
    height: 88px;
    border-radius: 12px;
  }
}

@media screen and (max-width: 767.5px) {
  .grid__item {
    border-radius: 5px;
    width: 40px;
    height: 40px;
  }
}

.grid__item:nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 3;
  grid-row: 3 / 3;
}

.grid__item:nth-child(2) {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.grid__item:nth-child(3) {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.grid__item:nth-child(4) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  width: 280px;
  height: 280px;
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .grid__item:nth-child(4) {
    width: 176px;
    height: 176px;
  }
}

@media screen and (max-width: 767.5px) {
  .grid__item:nth-child(4) {
    width: 80px;
    height: 80px;
  }
}

.grid__item:nth-child(5) {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  position: absolute;
  top: -8px;
}

@media screen and (max-width: 1279.5px) {
  .grid__item:nth-child(5) {
    top: -4px;
  }
}

.grid__item:nth-child(6) {
  -ms-grid-column: 5;
  grid-column: 5 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.grid__item:nth-child(7) {
  -ms-grid-column: 5;
  grid-column: 5 / 5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.grid__item:nth-child(8) {
  -ms-grid-column: 6;
  grid-column: 6 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.grid__item:nth-child(9) {
  -ms-grid-column: 6;
  grid-column: 6 / 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.grid__item:nth-child(10) {
  -ms-grid-column: 7;
  grid-column: 7 / 7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.grid__item:hover, .grid__item:focus {
  z-index: 100;
  position: absolute;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.grid__item:focus {
  outline: 3px solid #d41342;
  outline-offset: -3px;
}

.reviews {
  padding-top: 60px;
}

@media screen and (max-width: 1199px) {
  .reviews {
    padding-top: 20px;
  }
}

.reviews__list {
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 1199px) {
  .reviews__list {
    font-size: 14px;
    line-height: 2.16;
  }
}

@media screen and (max-width: 767px) {
  .reviews__list {
    font-size: 12px;
    line-height: 2.55;
  }
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__list:first-child {
  margin-bottom: 16px;
}

.reviews__written {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 142px;
  padding-right: 142px;
  padding-top: 47px;
  padding-bottom: 39px;
  max-width: 1134px;
  background: #fafafa;
}

.reviews__icon {
  fill: #e1e1e1;
}

@media screen and (max-width: 1199px) {
  .reviews__icon {
    width: 60px;
  }
}

.reviews__slider {
  min-width: 0;
}

.reviews__address {
  font-size: 20px;
  margin-top: 16px;
}

@media screen and (max-width: 1199px) {
  .reviews__address {
    font-size: 16px;
    line-height: 1.86;
  }
}

@media screen and (max-width: 767px) {
  .reviews__address {
    font-size: 14px;
  }
}

.slider__text {
  position: relative;
  display: inline;
  background-repeat: no-repeat;
  background-position: center bottom -2px;
  background-size: 100% 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#e1e1e1), to(#e1e1e1));
  background-image: linear-gradient(to right, #e1e1e1, #e1e1e1);
}

.reviews__icon:before {
  position: absolute;
  content: '';
}

.reviews__icons-small {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 16px;
}

.reviews__dot {
  margin-right: 10px;
}

.reviews__dot:last-child {
  margin-right: 0;
}

.reviews__address-icon {
  margin-right: 10px;
}

.reviews__address-icon:last-child {
  margin-right: 0;
}

.reviews__dots {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .reviews__dots {
    margin-top: 16px;
  }
}

.contacts {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(93%, #fff5f6), color-stop(0, #fff), color-stop(0, #fff));
  background-image: linear-gradient(0deg, #fff5f6 93%, #fff 0, #fff 0);
  padding-top: 80px;
  padding-bottom: 113px;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 1280px) {
  .contacts {
    background-image: url(/img/background__contacts.png), -webkit-gradient(linear, left bottom, left top, color-stop(79%, #fff5f6), color-stop(0, #fff), color-stop(0, #fff));
    background-image: url(/img/background__contacts.png), linear-gradient(0deg, #fff5f6 79%, #fff 0, #fff 0);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: inherit;
    background-position-y: 35%;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .contacts {
    padding-top: 131px;
    padding-bottom: 165px;
    font-size: 14px;
  }
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 81px;
  gap: 32px;
}

@media screen and (max-width: 767.5px) and (min-width: 1280px) {
  .contacts__list {
    padding-bottom: 54px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__list {
    padding-bottom: 86px;
  }
}

.visually-hidden {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts__item {
  list-style: none;
  text-align: left;
  width: 220px;
  margin-bottom: 20px;
  padding: 43px 20px;
  border-radius: 24px;
  background: var(--main-color);
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts__item {
    width: calc(33.33333% - 20px);
    height: 100%;
    margin: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__item {
    max-width: 330px;
    margin: 0;
  }
}

.contacts__item:hover, .contacts__item:focus {
  -webkit-box-shadow: 0px 8px 100px rgba(46, 10, 19, 0.1);
          box-shadow: 0px 8px 100px rgba(46, 10, 19, 0.1);
}

.contacts__item .cafe {
  padding-left: 25px;
  padding-right: 25px;
  min-width: 80px;
  background-color: #f0d1a5;
}

.contacts__item .foodstruck {
  padding-left: 28px;
  padding-right: 28px;
  min-width: 130px;
  background: #c2e297;
}

.contacts__item .contacts__case {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 16px;
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .contacts__item .contacts__case {
    height: 28px;
  }
}

.contacts__item .contacts__city {
  margin-bottom: 10px;
  font-size: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .contacts__item .contacts__city {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__item .contacts__city {
    font-size: 16px;
  }
}

.contacts__item .contacts__text {
  line-height: 1.5;
  color: #907e82;
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .contacts__item .contacts__text {
    line-height: 1.83;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__item .contacts__text {
    line-height: 1.83;
  }
}

.contacts__item .contacts__schedule {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1279.5px) {
  .contacts__item .contacts__schedule {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__item .contacts__schedule {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__item .contacts__day {
    font-size: 16px;
  }
}

.contacts__item .contacts__hour {
  margin-bottom: 10px;
  color: #ffa5ba;
}

.contacts__item .contacts__mail,
.contacts__item .contacts__tell {
  display: block;
  line-height: 1.5;
  color: #907e82;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item .link {
  text-decoration: none;
}

.contacts__item .contacts__button {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767.5px) {
  .contacts__item .contacts__button:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item .contacts__button {
    padding: 12px 39px 12px 38px;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts__item .contacts__button:not(:last-child) {
    margin-right: 14.5px;
  }
  .contacts__item .contacts__button:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__item .contacts__button {
    padding: 10px 40px 10px 39px;
  }
}

.contacts__item .contacts__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 32px;
  border-radius: 20px;
  border: transparent;
  cursor: pointer;
  color: var(--main-color);
  background-color: var(--akcent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.5px) {
  .contacts__item .contacts__map {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item .contacts__map {
    margin-right: 15px;
  }
}

.contacts__item:hover, .contacts__item:focus {
  background-color: var(--background-hover);
  color: var(--akcent-color);
}

.contacts__franchise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 50px;
  border-radius: 20px;
  border: transparent;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--akcent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__franchise:hover, .contacts__franchise:focus {
  background-color: var(--background-hover);
  color: var(--akcent-color);
}

.button__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  margin-right: 13.17px;
}

.footer {
  background-color: var(--bg-color-light-pink);
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 60px;
  padding-top: 60px;
  border-bottom: 1px solid var(--line-color-grey);
}

@media screen and (max-width: 1199.5px) {
  .footer__flex {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

@media screen and (max-width: 767.5px) {
  .footer__flex {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer__flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__name {
  margin-right: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .footer__name {
    width: 240px;
  }
}

.name__title {
  margin-bottom: 16px;
  font-family: var(--secondary-fonts);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-light-pink);
}

@media screen and (min-width: 768px) {
  .name__title {
    font-size: 26px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1200px) {
  .name__title {
    font-size: 30px;
    line-height: 1.13;
  }
}

.name__accent {
  margin-bottom: 40px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .name__accent {
    margin-bottom: 0;
    font-size: 48px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .name__accent {
    font-size: 58px;
    line-height: 1.14;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
  padding-top: 8px;
}

.contacts__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--icon-color);
  border-radius: 50%;
  -webkit-transition: background-color var(--kubik);
  transition: background-color var(--kubik);
}

@media screen and (min-width: 768px) {
  .socials__link {
    width: 34px;
    height: 34px;
  }
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: #fff;
  outline: transparent;
}

.socials__item:not(:last-child) {
  margin-right: 28px;
}

@media screen and (min-width: 768px) {
  .socials__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .socials__item:not(:last-child) {
    margin-right: 24px;
  }
}

.socials__icon {
  fill: var(--main-color);
}

@media screen and (min-width: 768px) {
  .socials__icon {
    width: 20px;
    height: 20px;
  }
}

.contacts__telephone {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: var(--text-color-black);
}

@media screen and (min-width: 768px) {
  .contacts__telephone {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__telephone {
    font-size: 16px;
  }
}

.telephone__link {
  color: var(--accent-color);
}

.footer__copyright {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: var(--text-color-grey);
}

@media screen and (max-width: 767.5px) {
  .footer__copyright {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    line-height: 1.86;
  }
}

.modal__btn {
  background: none;
  border: none;
}

@media screen and (min-width: 1280px) {
  .modal {
    display: none;
  }
}

@media screen and (max-width: 1279.5px) {
  .modal.is {
    display: block;
  }
}

.modal {
  display: none;
}

.modal__open.is-hidden {
  top: -100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: top var(--kubik), opacity var(--kubik), visibility var(--kubik);
  transition: top var(--kubik), opacity var(--kubik), visibility var(--kubik);
}

.modal__open {
  position: absolute;
  width: 254px;
  height: 100vh;
  background-color: #E17992;
  z-index: 5;
  right: 0;
  top: 0;
  padding-top: 20px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: top var(--kubik), opacity var(--kubik), visibility var(--kubik);
  transition: top var(--kubik), opacity var(--kubik), visibility var(--kubik);
  overflow-y: scroll;
}

@media screen and (max-width: 767.5px) {
  .modal__open {
    width: 100vw;
  }
}

@media screen and (min-width: 768px) {
  .modal__open {
    position: fixed;
  }
}

.close__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 32px;
  border: 0;
  background: none;
  padding: 0;
  margin-left: auto;
}

.header__button--modal {
  display: block;
  margin-top: 24px;
  background: var(--main-color);
  border-radius: 22px;
  cursor: pointer;
  color: var(--akcent-color);
  padding: 13px 44px 15px;
  border: 0;
}

.header__button--modal svg {
  margin-left: 14px;
  position: relative;
  top: 1px;
}

@media screen and (max-width: 767.5px) {
  .header__button--modal {
    padding: 13px 49px 15px;
  }
}

.modal__nav {
  margin-top: 20px;
}

.header__li--modal {
  padding: 13px 20px 11px 20px;
  border-top: 1px solid #E18298;
}

.header__li--modal:last-child {
  border-bottom: 1px solid #E18298;
}

.header__link--modal {
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.header__link--modal.--current {
  color: var(--akcent-color);
}
/*# sourceMappingURL=main.css.map */