:root {
  --akcent-color: #D41443;
  --second-hover: #C7133E;
  --editional-color: #000000;
  --background-hover: #ECEBEB;
  --main-color: #ffffff;
  // --gradient: rgba(47, 48, 58, 0.4);
  --kubik: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --basic-font: DM Sans;
}
