<section class="contacts">
    <a href="" id="contacts"></a>
    <div class="container wow slideInLeft">
        <h2 class="contacts__title visually-hidden">Contacts</h2>

        <ul class="contacts__list list">
            <li class="contacts__item">
                <div class="contacts__box">
                    <span class="contacts__case cafe">CAFE</span>
                </div>

                <span class="contacts__city">Chicago</span>

                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <div class="contacts__schedule">
                    <span class="contacts__day">Monday - Friday</span>

                    <p class="contacts__hour"><time>06:00 AM - 10:00 PM</time></p>

                    <span class="contacts__day">Saturday - Sunday</span>

                    <p class="contacts__hour"><time>08:00 AM - 16:00 PM</time></p>
                </div>

                <a href="tel:+61(0)383766284" class="contacts__tell link"> +61(0) 383 766 284 </a>

                <a href="mailto:noreply@envato.com" class="contacts__mail link"> noreply@envato.com </a>
            </li>

            <li class="contacts__item">
                <div class="contacts__box ">
                    <span class="contacts__case foodstruck">FOOD TRUCK</span>
                </div>

                <span class="contacts__city">Los Angeles</span>

                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <div class="contacts__schedule">
                    <span class="contacts__day">Monday - Friday</span>

                    <p class="contacts__hour"><time>06:00 AM - 10:00 PM</time></p>

                    <span class="contacts__day">Saturday - Sunday</span>

                    <p class="contacts__hour"><time> AM - 16:00 PM</time></p>
                </div>

                <a href="tel:+61(0)383766284 " class="contacts__tell link"> +61(0) 383 766 284 </a>

                <a href="mailto:noreply@envato.com" class="contacts__mail link"> noreply@envato.com </a>
            </li>
            <li class="contacts__item">
                <div class="contacts__box">
                    <span class="contacts__case cafe">CAFE</span>
                </div>

                <span class="contacts__city">New York</span>

                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <div class="contacts__schedule">
                    <span class="contacts__day">Monday - Friday</span>

                    <p class="contacts__hour"><time>06:00 AM - 10:00 PM</time></p>

                    <span class="contacts__day">Saturday - Sunday</span>

                    <p class="contacts__hour"><time>08:00 AM - 16:00 PM</time></p>
                </div>

                <a href="tel:+61(0)383766284 " class="contacts__tell link"> +61(0) 383 766 284 </a>

                <a href="mailto:noreply@envato.com" class="contacts__mail link"> noreply@envato.com </a>
            </li>
        </ul>
        <div class="contacts__button">
            <button type="button" class="contacts__map ">
                <span class="button__text"> Our Locations </span>

            </button>
            <button type="button" class="contacts__franchise  ">
                <span class="button__text"> Franchise </span>

            </button>
        </div>
    </div>
    </section>