<footer class="footer">
    <div class="footer__conteiner container">
        <div class="footer__flex">
            <div class="footer__name">
                <p class="name__title">homemade ice cream made </p>
                <p class="name__accent">with passion</p> 
            </div>
            <div class="footer__contacts">
                <ul class="contacts__socials list">
                <li class="socials__item">
                    <a class="socials__link" href="https://github.com/" target="_blank"
                  rel="noreferrer noopener" aria-label="GitHub">
                    <svg class="socials__icon" width="19" height="19">
                        <use href="./img/svg/sprite.svg#github-icon"></use>
                    </svg>
                </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="https://web.telegram.org/k/" target="_blank"
                  rel="noreferrer noopener" aria-label="Telegram">
                    <svg class="socials__icon" width="19" height="19">
                        <use href="./img/svg/sprite.svg#telegram-icon"></use>
                    </svg>
                </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" href="https://www.facebook.com/" target="_blank"
                  rel="noreferrer noopener" aria-label="Facebook">
                    <svg class="socials__icon" width="19" height="19">
                        <use href="./img/svg/sprite.svg#facebook-icon"></use>
                    </svg>
                </a>
                </li>
                </ul>
                <p class="contacts__telephone">Feel free to contact 
                <a class="telephone__link link" href="tel:+610383766284">+61&nbsp;(0)&nbsp;383&nbsp;766&nbsp;284</a>
                </p>
            </div>
        </div>
        <div class="footer__copyright">
            <p>&copy; 2019 - IceCream. All&nbsp;Rights&nbsp;Reserved. </p>
        </div> 
    </div>
</footer> 