<section class="gallery">
  <div class="container gallery__container">
    <div class="grad">
      <div class="grad__item">
        <picture class="picture">
          <source
            media="(min-width: 1280px)"
            srcset="img/gallery/image1_lap.jpg"
            type="image/jpg"
          />
          <source media="(min-width: 768px)" srcset="img/gallery/image1_tab.jpg" type="image/jpg" />
          <source media="(max-width: 767px)" srcset="img/gallery/image1_mob.jpg" type="image/jpg" />
          <img class="image" src="img/gallery/image1_mob.jpg" alt="" />
        </picture>
      </div>
      <div class="grad__item">
        <picture class="picture">
          <source
            media="(min-width: 1280px)"
            srcset="img/gallery/image2_lap.jpg"
            type="image/jpg"
          />
          <source media="(min-width: 768px)" srcset="img/gallery/image2_tab.jpg" type="image/jpg" />
          <source media="(max-width: 767px)" srcset="img/gallery/image2_mob.jpg" type="image/jpg" />
          <img class="image" src="img/gallery/image2_mob.jpg" alt="" />
        </picture>
      </div>
      <div class="grad__item">
        <picture class="picture">
          <source
            media="(min-width: 1280px)"
            srcset="img/gallery/image3_lap.jpg"
            type="image/jpg"
          />
          <source media="(min-width: 768px)" srcset="img/gallery/image3_tab.jpg" type="image/jpg" />
          <source media="(max-width: 767px)" srcset="img/gallery/image3_mob.jpg" type="image/jpg" />
          <img class="image" src="img/gallery/image3_mob.jpg" alt="" />
        </picture>
      </div>
      <div class="grad__item">
        <picture class="picture">
          <source
            media="(min-width: 1280px)"
            srcset="img/gallery/image4_lap.jpg"
            type="image/jpg"
          />
          <source media="(min-width: 768px)" srcset="img/gallery/image4_tab.jpg" type="image/jpg" />
          <source media="(max-width: 767px)" srcset="img/gallery/image4_mob.jpg" type="image/jpg" />
          <img class="image" src="img/gallery/image4_mob.jpg" alt="" />
        </picture>
      </div>
      <div class="grad__item">
        <picture class="picture">
          <source
            media="(min-width: 1280px)"
            srcset="img/gallery/image5_lap.jpg"
            type="image/jpg"
          />
          <source media="(min-width: 768px)" srcset="img/gallery/image5_tab.jpg" type="image/jpg" />
          <source media="(max-width: 767px)" srcset="img/gallery/image5_mob.jpg" type="image/jpg" />
          <img class="image" src="img/gallery/image5_mob.jpg" alt="" />
        </picture>
      </div>
      <div class="grad__item">
        <picture class="picture">
          <source
            media="(min-width: 1280px)"
            srcset="img/gallery/image6_lap.jpg"
            type="image/jpg"
          />
          <source media="(min-width: 768px)" srcset="img/gallery/image6_tab.jpg" type="image/jpg" />
          <source media="(max-width: 767px)" srcset="img/gallery/image6_mob.jpg" type="image/jpg" />
          <img class="image" src="img/gallery/image6_mob.jpg" alt="" />
        </picture>
      </div>
      <div class="grad__item">
        <picture class="picture">
          <source
            media="(min-width: 1280px)"
            srcset="img/gallery/image7_lap.jpg"
            type="image/jpg"
          />
          <source media="(min-width: 768px)" srcset="img/gallery/image7_tab.jpg" type="image/jpg" />
          <source media="(max-width: 767px)" srcset="img/gallery/image7_mob.jpg" type="image/jpg" />
          <img class="image" src="img/gallery/image7_mob.jpg" alt="" />
        </picture>
      </div>
      <div class="grad__item">
        <picture class="picture">
          <source
            media="(min-width: 1280px)"
            srcset="img/gallery/image8_lap.jpg"
            type="image/jpg"
          />
          <source media="(min-width: 768px)" srcset="img/gallery/image8_tab.jpg" type="image/jpg" />
          <source media="(max-width: 767px)" srcset="img/gallery/image8_mob.jpg" type="image/jpg" />
          <img class="image" src="img/gallery/image8_mob.jpg" alt="" />
        </picture>
      </div>
      <div class="grad__item">
        <picture class="picture">
          <source
            media="(min-width: 1280px)"
            srcset="img/gallery/image9_lap.jpg"
            type="image/jpg"
          />
          <source media="(min-width: 768px)" srcset="img/gallery/image9_tab.jpg" type="image/jpg" />
          <source media="(max-width: 767px)" srcset="img/gallery/image9_mob.jpg" type="image/jpg" />
          <img class="image" src="img/gallery/image9_mob.jpg" alt="" />
        </picture>
      </div>
      <div class="grad__item">
        <picture class="picture">
          <source
            media="(min-width: 1280px)"
            srcset="img/gallery/image10_lap.jpg"
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="img/gallery/image10_tab.jpg"
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="img/gallery/image10_mob.jpg"
            type="image/jpg"
          />
          <img class="image" src="img/gallery/image10_mob.jpg" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>
