<div class="background">
  <header class="header">
    <div class="container">
      <a href="" class="logo">
        <img src="" alt="" />
      </a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">Home</li>
          <li class="header__item">About us</li>
          <li class="header__item">How it’s made?</li>
          <li class="header__item">Our products</li>
          <li class="header__item">Contact</li>
        </ul>
      </nav>
      <button class="header__btn" type="button">Buy now</button>
      <button class="header__btn--menu">
        <svg>
          <use class="header__btn-open" href=""></use>
          <use class="header__btn-close" href=""></use>
        </svg>
      </button>
    </div>
  </header>
  <section class="hero">
    <div class="container">
      <div class="hero__wrapper-left">
        <h1 class="hero__title">ice cream made with passion</h1>
        <ul class="hero__list-left">
          <li class="hero__item-left">
            <button class="hero__btn">Products</button>
          </li>
          <li class="hero__item-left">
            <button class="hero__btn">How it’s made?</button>
          </li>
        </ul>
        <div class="hero__box">
          <img class="hero__img--left" src="" alt="" />
          <p class="hero__text-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="hero__modal-btn"></button>
        </div>
      </div>
      <img class="hero__img-middle" src="" alt="" />
      <div class="hero__wrapper--right">
        <ul class="hero__list-right">
          <li class="hero__item-right">
            <span class="hero__span">16</span>
            <p class="hero__text-right">cafes</p>
          </li>
          <li class="hero__item-right">
            <span class="hero__span">23</span>
            <p class="hero__text-right">food trucks</p>
          </li>
        </ul>
        <img class="hero__img-right" src="" alt="" />
      </div>
    </div>
  </section>
</div>
