<!-- Reviews -->

<section class="reviews">
    <div class="container">
        <h2 class="visually-hidden">Our reviews</h2>

        <ul class="reviews__main">
            <li class="reviews__list">
                <img src="/img/Reviews/testimonials1 1.png" alt="Emily">

            </li>

            <!-- <img srcset="
            ./images/index/igor_sm.jpg 450w, 
            ./images/index/igor_sm2.jpg 900w
            ./images/index/igor_md.jpg 354w, 
            ./images/index/igor_md2.jpg 708w,
            ./images/index/igor_lg.jpg 270w,  
            ./images/index/igor_lg2.jpg 540w" src="./images/index/igor_sm.jpg" alt="Игорь Демьяненко"
              sizes="(min-width: 1200px) 25vw, (min-width: 768px) 50vw, 100vw" /> -->

            <li class="reviews__list">
                <div class="reviews__written">
                    <div class="reviews__slider animated">

                        <div class="multiple-items">
                            <div class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                                sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                                risus.
                                <svg class="reviews__icon" width="54"
                                height="40">
                                <use href="img/svg/reviews.svg#icon-quotes"></use>
                              </svg>
                            </div>
                            <!-- <div class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                                sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                                risus.
                            </div> -->
                            <!-- <div class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                                sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                                risus.
                            </div> -->
                        </div>
                    </div>


                </div>
                
                <!-- <li class="header__links">
                    <a class="header__contacts link" href="mailto:info@devstudio.com">
                        <svg class="header__icons-email" width="14"
                        height="10">
                        <use href="images/icons.svg#icon-quote"></use>
                      </svg>
                      info@devstudio.com</a>
                  </li> -->
            </li>
            <li class="reviews__list">
                <div class="reviews__dots">

                    <p class="reviews__address"> Emily, Los Angeles </p>
                    <ul >
                        <li class="reviews__address-icon"><svg class="reviews__icons" width="12"
                            height="12">
                            <use href="img/svg/reviews.svg#icon-home"></use>
                          </svg></li>
                        <li class="reviews__address-icon"><svg class="reviews__icons" width="12"
                            height="12">
                            <use href="img/svg/reviews.svg#icon-Ellipse"></use>
                          </svg></li>
                        <li class="reviews__address-icon"><svg class="reviews__icons" width="12"
                            height="120">
                            <use href="img/svg/reviews.svg#icon-Ellipses"></use>
                          </svg></li>
                    </ul>
                </div>

            </li>


        </ul>
    </div>
</section>