<!-- Reviews -->

<section class="reviews" id="about">
  <div class="container">
    <h2 class="visually-hidden">Our reviews</h2>
    <ul class="reviews__main">
      <li class="reviews__item">
        <picture class="reviews__img">
          <source
            srcset="/img/reviews/testimonials13.webp 1x, /img/reviews/testimonials13@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="/img/reviews/testimonials13.png 1x, /img/reviews/testimonials13@2x.png 2x"
            type="image/png"
          />
          <img src="/img/reviews/testimonials13.png" alt="Emily" />
        </picture>
        <div class="rewiews__pod">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="reviews__address">Emily, Los Angeles</p>
      </li>

      <li class="reviews__item">
        <picture class="reviews__img">
          <source
            srcset="/img/reviews/testimonials12.webp 1x, /img/reviews/testimonials12@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="/img/reviews/testimonials12.png 1x, /img/reviews/testimonials12@2x.png 2x"
            type="image/png"
          />
          <img src="/img/reviews/testimonials12.png" alt="Ann" />
        </picture>

        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="reviews__address">Ann, New-York</p>
      </li>
      <li class="reviews__item">
        <picture class="reviews__img">
          <source
            srcset="/img/reviews/testimonials11.webp 1x, /img/reviews/testimonials11@2x.webp 2x"
            type="image/webp"
          />
          <source
            srcset="/img/reviews/testimonials11.png 1x, /img/reviews/testimonials11@2x.png 2x"
            type="image/png"
          />
          <img src="/img/reviews/testimonials11.png" alt="Maggie" />
        </picture>

        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <p class="reviews__address">Maggie, Miami</p>
      </li>
    </ul>
  </div>
</section>
