<!-- Reviews -->

<section class="reviews">
    <div class="container">
        <h2 class="visually-hidden">Our reviews</h2>
        <ul class="reviews__main">
            <li class="reviews__list">

                <picture>
                    <!-- <source srcset="src/img/Reviews/testimonials1 3.webp 1x, testimonials1 3@2x.webp 2x"
                        type="image/webp" /> -->
                    <!-- <source srcset="/img/Reviews/testimonials1 3.png 1x, testimonials1 3@2x.png 2x" 
                    type="image/png" /> -->
                    <img src="/img/Reviews/testimonials1 3.png" alt="Emily" />
                </picture>
            </li>
            <li class="reviews__list">
                <div class="reviews__written">
                    <div>
                        <svg class="reviews__icon" width="54" height="40">
                            <use href="img/svg/reviews.svg#icon-quotes"></use>
                        </svg>
                        <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                            Aliquam
                            sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                            risus.
                        </p>
                    </div>
                    <!-- <div class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam
                                sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                                risus.
                            </div> -->
                    <!-- <div class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                Aliquam
                                sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel
                                risus.
                            </div> -->
                </div>
            </li>
            <li class="reviews__list">
                <div>
                    <ul class="reviews__icons-small">
                        <li class="reviews__dot"><svg width="4" height="4">
                                <use href="img/svg/reviews.svg#icon-Ellipse-small"></use>
                            </svg></li>
                        <li class="reviews__dot"><svg width="4" height="4">
                                <use href="img/svg/reviews.svg#icon-Ellipse-small"></use>
                            </svg></li>
                        <li class="reviews__dot"><svg width="4" height="4">
                                <use href="img/svg/reviews.svg#icon-Ellipse-small"></use>
                            </svg></li>
                    </ul>

                    <p class="reviews__address"> Emily, Los Angeles </p>
                    <ul class="reviews__dots">
                        <li class="reviews__address-icon"><svg class="reviews__icons" width="12" height="12">
                                <use href="img/svg/reviews.svg#icon-home"></use>
                            </svg></li>
                        <li class="reviews__address-icon"><svg class="reviews__icons" width="12" height="12">
                                <use href="img/svg/reviews.svg#icon-Ellipse"></use>
                            </svg></li>
                        <li class="reviews__address-icon"><svg class="reviews__icons" width="12" height="12">
                                <use href="img/svg/reviews.svg#icon-Ellipse"></use>
                            </svg></li>
                    </ul>
                </div>

            </li>
        </ul>
    </div>
</section>